* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, Arial, Helvetica, sans-serif;
  & p {
    color: var(--text-color-primary);
    font-weight: normal;
    font-size: var(--font-primary);
  }
}
:root {
  --text-color-primary: #31344b;
  --font-title-primary: 2.5rem;
  --font-title-secondary: 1.5rem;
  --font-primary: 0.855rem;
  --font-secondary: 0.755rem;
  --box-shadow: 1px 1px 3.5px #c8cbcb, -1px -1px 3.5px #c8cbcb;
  --box-shadow-secondary: inset 2px 2px 4px #cacaca, inset -2px -2px 4px #e2e2e2;
  --neu-bg: #ebedef;
}
* h1 {
  font-size: var(--font-title-primary);
}
.introduction-container {
  margin-top: 10%;
  & h1 {
    font-size: var(--font-title-primary);
    color: var(--text-color-primary);
  }
  & p {
    margin-top: 20px;
    font-size: var(--font-primary);
    color: var(--text-color-primary);
  }
  @media (max-width: 768px) {
    h1 {
      font-size: var(--font-title-secondary);
    }
    p {
      font-size: var(--font-secondary);
    }
  }
  .profile-container {
    margin-left: 100px;
    & img {
      max-width: 200px;
      border-radius: 100px;
    }
    @media (max-width: 768px) {
      margin-top: 40px;
      text-align: center;
      img {
        width: 150px;
      }
    }
  }
  .my-background img {
    width: 1.2rem;
  }
  .my-background {
    text-wrap: nowrap;
  }
}

.tech-stack-container {
  gap: 20px;
  & .tech-stack-container p {
    font-size: var(--font-primary);
  }
  & .stack-logo-group {
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--neu-bg);
    box-shadow: var(--box-shadow);
    & .logo-and-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      & p {
        font-size: 0.65rem;
        margin-top: 10px;
        margin: 0;
      }
      & img {
        width: 20px;
      }
    }
    & .logo-and-text:hover {
      box-shadow: var(--box-shadow-secondary);
    }
    & .text-logo-component {
      padding: 10px;
    }
  }
}

.unorder-list li p {
  margin: 0;
}
hr {
  display: none;
}
.project-card {
  box-shadow: var(--box-shadow);
}
/* Media query for screens below 770px */
@media (max-width: 770px) {
  hr {
    display: block;
  }
  .work-1 {
    margin-top: 30px;
  }
  .exp-work-container-1 {
    text-align: center;
  }

  .work-2 {
    margin: 30px 0;
  }
  .exp-work-container-2 {
    text-align: center;
  }

  .work-3 {
    margin: 30px 0;
  }
  .exp-work-container-3 {
    text-align: center;
  }
  .unorder-list li {
    list-style: none;
    text-align: center;
  }
  .project-card {
    height: 400px;
  }
}

/* Media query for screens between 770px and 991px */
@media (min-width: 771px) and (max-width: 991px) {
  .unorder-list {
    width: 338px;
  }
  .work-1-description {
    width: 328px;
  }
  .work-1 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-1 {
    width: 350px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
  .work-2 {
    margin-top: 0px;
    display: flex;
    text-align: right;
  }
  .exp-work-container-2 {
    width: 348px;
    border-right: 2px solid black;
    padding-top: 10px;
    padding-right: 20px;
  }
  .work-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-3 {
    width: 350px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
}

/* Media query for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .unorder-list {
    width: 338px;
  }
  .work-1-description {
    width: 328px;
  }
  .work-1 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-1 {
    width: 470px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
  .work-2 {
    margin-top: 0px;
    display: flex;
    text-align: right;
  }
  .exp-work-container-2 {
    width: 468px;
    border-right: 2px solid black;
    padding-top: 10px;
    padding-right: 20px;
  }
  .work-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-3 {
    width: 470px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
}

/* Media query for screens above 1199px */
@media (min-width: 1200px) {
  .unorder-list {
    width: 338px;
  }
  .work-1-description {
    width: 328px;
  }
  .work-1 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-1 {
    width: 560px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
  .work-2 {
    margin-top: 0px;
    display: flex;
    text-align: right;
  }
  .exp-work-container-2 {
    width: 558px;
    border-right: 2px solid black;
    padding-top: 10px;
    padding-right: 20px;
  }
  .work-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-3 {
    width: 560px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
}
/* Media query for screens above 1399px */
@media (min-width: 1399px) and (max-width: 3000px) {
  .unorder-list {
    width: 338px;
  }
  .work-1-description {
    width: 328px;
  }
  .work-1 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-1 {
    width: 650px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
  .work-2 {
    margin-top: 0px;
    display: flex;
    text-align: right;
  }
  .exp-work-container-2 {
    width: 648px;
    border-right: 2px solid black;
    padding-top: 10px;
    padding-right: 20px;
  }
  .work-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .exp-work-container-3 {
    width: 650px;
    border-left: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
  }
}

/*=== Trigger ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  scroll-margin-top: 100px; /* Adjust this value based on your needs */
}

/*=== Optional Delays, change values here ===*/
.one {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.projects-row {
  gap: 10px;
  & a {
    color: var(--text-color-primary);
    text-decoration: none;
    box-shadow: var(--box-shadow-secondary);
    padding: 5px 20px;
  }
  & a:hover {
    box-shadow: var(--box-shadow);
    color: var(--text-color-primary);
  }
  & .card-body {
    margin-top: 30px;
  }
  & .card-title,
  .card-text {
    margin-top: 20px;
  }
}
.project-card img {
  height: 50%;
  object-fit: cover;
}
#contact-me a {
  color: var(--text-color-primary);
  box-shadow: var(--box-shadow-secondary);
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}
#contact-me a:hover {
  box-shadow: var(--box-shadow);
}

.typewriter h1 {
  color: var(--text-color-primary);
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid var(--text-color-primary); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color-primary);
  }
}
